.header {
  display: grid;
  grid-template-columns: 1fr; 
  position: relative;
  // grid-template-rows: 1fr;

  //align-items: center;

  &__navigation {
    position: absolute;
    width: 100%;
    //grid-column: 1 / -1;
  }
}

.banner-texbox {
    justify-self: center;
    align-self: center;

    margin: 0 4rem 8rem 4rem;
    
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: min-content;
      text-align: center;
    }

    &__avatar {
      grid-column: 1;
      background-color: $color-secondary;
      margin: 4rem;
      //padding: rem;
      border-radius: 50%;
      width: 18rem;
      height: 18rem;
      justify-self: center;
      //width: 8rem;
    }
    &__title {
      align-self: center;
    }
}