.projects {
  color: black;
  display: grid;
  height: 100%;

  grid-template-columns: 13vw minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(4rem, 1fr);

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(2rem, 1fr);
    grid-template-rows: min-content min-content;
  }

  .checkbox-container {
    width: 12rem;
    //display: flex;
    margin-right: 1rem;
  }

  &__filters{
    border-right: 1px solid rgba($color-grey-dark-2, .2);
    padding: 3rem;
    

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media only screen and (max-width: $bp-large) {
      .heading-secondary{
        flex: 1 0 100%;
      }

      border-right: none;
      border-bottom: 1px solid rgba($color-grey-dark-2, .4);
      grid-column: center-start / center-end ;

      flex-direction: row;
      justify-content: space-between;
      grid-row: 1;
    }

    @media only screen and (max-width: $bp-small) {
      .heading-secondary{
        flex: 1 0 100%;
      }

      display: none;
    } 
  }

  &__cards {
    grid-column: center-start / center-end ;
    //grid-gap: 6rem;

    @media only screen and (max-width: $bp-large) {
      grid-row: 2;
    }
    
    display: grid;
    padding: 9rem 0;
    /* padding-top: 10rem;
    padding-bottom: 10rem; */

    
    //grid-template-columns: repeat(auto-fit, minmax(32rem, calc( 100% / 3.333) ));
    grid-template-columns: repeat(3, minmax(32rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    grid-gap: 7rem;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(2, minmax(32rem, 1fr ));
      grid-gap: 6rem;
    }
    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
      grid-gap: 5rem;
      padding: 5rem 0;
    }
  }
}

.card {
  background-color: white;
  height: 30rem;
}

.checkbox-box {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  //background-color: antiquewhite
}