.projects {
  color: black;
  display: grid;
  height: 100%;

  grid-template-columns: 13vw 1fr;
  

  &__filters{
    border-right: rgba($color-grey-dark-2, .7) solid .1px;
  }

  &__cards {
    display: grid;
    height: 100%;
    padding: 7rem;
    padding-top: 10rem;
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: repeat(auto-fit, minmax(25rem,1fr));
    grid-gap: 7rem;

    //justify-content: center;
    //align-content: center;
    
  }
}

.card {
  background-color: white;
  //grid-column: 2 / 3;
}