.project-details {
  display:grid;
  grid-template-columns: 80vw [data-start] 20vw [data-end];
  grid-template-rows: 55vw;
  grid-gap: 1rem;

  background: $color-grey-dark-3;
  padding: 1rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 90vw;
    grid-template-rows:  50rem [data-start] 20rem [data-end];
  }
   

  &__gallery {
    //background-color: $color-secondary;
  }

  &__data {
    grid-column: data-start;

     @media only screen and (max-width: $bp-small) {
      grid-column: 1;
      grid-row: 2;
    } 

    height: 99%;
    background-color: $color-grey-dark-3;
    filter: brightness(110%);
  }
}
