.card {
  position: relative;
  cursor: pointer;
  box-shadow: 0 2rem 6rem rgba(black, 0.1);
  border-radius: .6rem;
  //overflow: hidden;

  display: grid;
  grid-template-rows: 1fr min-content;
  transition: all .2s;
  


  &__img-shape {
    position: relative;
    background-image: linear-gradient(to right,rgba($color-primary, 1) , rgba($color-primary, 1) );
    overflow: hidden;
    width: 100%;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    //backface-visibility: hidden;
  }

  &__img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    transition: all .4s ease-in-out;
    opacity: .7;
  }
  
  &:hover &__img {
    transform:  translateY(-3rem) scale(1.1);
    filter: blur(3px) brightness(70%);
  } 

  &:hover &__title {
    left: 50%;
    top: 19%;
    transform: translateX(-50%);
    background-color: transparent;
    letter-spacing: .2rem;
    font-weight: 800;
    font-size: 1.6rem;
  }

  &:hover &__date {
    opacity: 1;
  }

  &:hover &__description {
    top: 45%;
    left: 50%;
    opacity: 1;
  }

  &__description {
    width: 100%;
    padding: 4rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); 

    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .2s ease-in-out;

    
  }

  &__title {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 2;
    transform: translateX(-20%);
    
    padding: 1rem;
    background: rgba($color-primary, 0.6);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    color: white;
    width: max-content;
    transition: all .2s ease-in-out;
  }

  &__date {
    position: absolute;
    bottom: 4.3rem;
    font-size: 1.4rem;
    color: #fff;
    margin-left: 1rem;
    padding-right: 1rem;
    //text-shadow: -1rem 1rem 3.5rem black;
    //background-color: rgba(black, 0.1);
    opacity: 0;
    transition: all .5s;

    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-gap: 1rem;
  }

  

  &__technologies {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    font-size: 1.2rem;
    padding: .8rem 1rem .8rem;

    grid-row: 2;
    grid-column: 1 / span 2;


    display: flex;
    justify-content: flex-start;
    background-color: rgba(transparent, 0.1);
    align-items: center;
    flex-wrap: wrap;
  }

  &__technology-item {
    margin: .2rem .4rem;
    background-color: $color-primary-light;
    color: white;
    padding: 0.1rem .7rem;
    border-radius: .5rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    color: $color-primary; 
    //border-radius: 1rem;
    //overflow: hidden;
  }

  &__details > :first-child {
    border-bottom-left-radius: .6rem;
  }
  &__details > :last-child {
    border-bottom-right-radius: .6rem;
  }
  
  &__icon-container {
    //border-radius: 1rem;
    grid-row: 2;
    width: 100%;
    height: 100%;
    padding: 1.4rem;
    //color: $color-primary;
    //overflow: hidden;
    

    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;

    flex: 1rem;

    display: flex;
    justify-content: center;
    //flex-direction: column;
    align-items: center;

    &:hover {
      background-color: $color-primary-light;
      color: white;
    }

    /* &--noclick {
      cursor: auto;
    }
    
    &--noclick:hover {
      background-color: white;
      color: $color-primary;
    } */
  }

  &__icon {
      width: 1.8rem;
      height: 1.8rem;
      margin: 1rem;
      fill:currentColor;
  }

  &__text-button {
    //color: red;
  }
}