.card {
  cursor: pointer;
  box-shadow: 0 2rem 6rem rgba(black, 0.1);
  border-radius: .6rem;
  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr min-content;


  &__img {
    position: relative;
    background-image: linear-gradient(to right,rgba($color-primary, 1) , rgba($color-primary, 1) );
    overflow: hidden;
    backface-visibility: hidden;
  }
  
  &__project-banner {
    width: 100%;
    display: block;
    //background-size: cover;
    //background-position: top; 
    height: 100%;
    object-fit: cover;
    
    &--cover {
    }
    
    opacity: .7;
  }

  &__title {
    padding: 1rem;
    background: rgba($color-primary, 0.6);
    transform: translate(-20%, -27rem);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    color: white;
    width: max-content;
  }

  &__date {
    position: absolute;
    bottom: 4.3rem;
    font-size: 1.4rem;
    color: #fff;
    margin-left: 1rem;
    padding-right: 1rem;
    text-shadow: -1rem 1rem 3.5rem black;
    //background-color: rgba(black, 0.1);
    //opacity: .5;

    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-gap: 1rem;
  }

  

  &__technologies {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    font-size: 1.2rem;
    padding: .8rem 1rem .8rem;

    grid-row: 2;
    grid-column: 1 / span 2;


    display: flex;
    justify-content: flex-start;
    background-color: rgba(transparent, 0.1);
    align-items: center;
    flex-wrap: wrap;
  }

  &__technology-item {
    margin: .2rem .4rem;
    background-color: $color-primary-light;
    color: white;
    padding: 0.1rem .7rem;
    border-radius: .5rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    color: $color-primary;
  }
  
  &__icon-container {

    grid-row: 2;
    width: 100%;
    height: 100%;
    padding: 1.4rem;
    //color: $color-primary;

    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;

    flex: 1rem;

    display: flex;
    justify-content: center;
    //flex-direction: column;
    align-items: center;

    &:hover {
      background-color: $color-primary-light;
      color: white;
    }

    &--noclick {
      cursor: auto;
    }
    
    &--noclick:hover {
      background-color: white;
      color: $color-primary;
    }
  }

  &__icon {
      width: 1.8rem;
      height: 1.8rem;
      margin: 1rem;
      fill:currentColor;
  }
}