$color-primary: #155e63;
$color-primary-light: #76b39d;

$color-secondary: #f9f8eb;

$color-grey-light-1: #eae7e7;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
//$bp-largest: 62.5em; //1000px