*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1rem = 10px: 10px/16px = 62.5%
    //background-color: $color-primary-light;

    @media only screen and (max-width: $bp-largest) {
      font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-size: 1.5rem;

   /*  @include respond(tab-port) {//width <900 ?
      padding: 0;
    } */
}



#app { //main container
  display: grid;
  grid-template-rows: 
  [header-start] 70vh [header-end nav-start] 0rem [nav-end content-start] min-content [content-end footer-start] 30rem [footer-end];
  
 /*  & > * {
    font-size: 4rem;
    color: white;
    //background-color: $color-grey-light;
  } */
}


.header {
  //background-color: $color-primary;
  background-image: linear-gradient(to right bottom, $color-primary 20% , $color-primary-light);
}


.content {
  grid-row: 3;
  background-color: $color-secondary;
}

.footer {
  padding: 2rem;
  background-color: $color-grey-dark-3;
}
