*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1rem = 10px: 10px/16px = 62.5%
    //background-color: $color-primary-light;

    @media only screen and (max-width: $bp-largest) {
      font-size: 50%;
    }
}

body {
    box-sizing: border-box;

   /*  @include respond(tab-port) {//width <900 ?
      padding: 0;
    } */
}

#app { //main container
  display: grid;
  grid-template-rows: 60vh 60rem 30rem;
  
  & > * {
    font-size: 4rem;
    color: white;
    //background-color: $color-grey-light;
  }
}


.header {
  background-color: $color-primary;
}

.content {
  padding: 2rem;
  background-color: $color-primary-light;
}

.footer {
  padding: 2rem;
  background-color: $color-grey-dark-3;
}
